## import

In [2]:
from IPython.display import Image
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [7]:
df = pd.read_excel('C:/Users/박나영/Desktop/SK AI Dream Camp/titanic.xlsx')
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body
0,1,1,female,29.0000,0,0,24160,211.3375,B5,S,2,NaN
1,1,1,male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN
2,1,0,female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN
3,1,0,male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0
4,1,0,female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN

## 통계

In [8]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [16]:
df.describe(include = 'object')

#unique: 고유 데이터의 값 개수
#top: 가장 많이 출현한 데이터 개수
#freq: 가장 많이 출현한 데이터의 빈도수

         sex    ticket        cabin embarked boat
count   1309      1309          295     1307  486
unique     2       939          186        3   28
top     male  CA. 2343  C23 C25 C27        S   13
freq     843        11            6      914   39

In [9]:
df.count()

pclass      1309
survived    1309
sex         1309
age         1046
sibsp       1309
parch       1309
ticket      1309
fare        1308
cabin        295
embarked    1307
boat         486
body         121
dtype: int64

## mean

In [13]:
df['age'].mean()

np.float64(29.8811345124283)

In [17]:
con = (df['sex'] == 'male')
df.loc[con, 'age'].mean()

np.float64(30.5852329787234)

## skipna = True 기본 값 = Nan 값이 있을 때 이를 제외하고 평균산출

In [18]:
df['age'].mean(skipna=False)

np.float64(nan)

## median

In [20]:
pd.Series([3,4,2,6,5, 7]).median()

np.float64(4.5)

In [23]:
print(f'나이 평균 : {df['age'].mean():.5f}')
print(f'나이 중앙값 : {df['age'].median():.5f}')

나이 평균 : 29.88113
나이 중앙값 : 28.00000

## sum - 데이터 합계

In [24]:
df.loc[:, 'age'].sum()

np.float64(31255.6667)

In [25]:
#누적 합
df['age'].cumsum()

0          29.0000
1          29.9167
2          31.9167
3          61.9167
4          86.9167
           ...
1304    31173.1667
1305           NaN
1306    31199.6667
1307    31226.6667
1308    31255.6667
Name: age, Length: 1309, dtype: float64

In [26]:
# 누적 곱
df['age'].cumprod()

0          29.0000
1          26.5843
2          53.1686
3        1595.0580
4       39876.4500
           ...
1304           inf
1305           NaN
1306           inf
1307           inf
1308           inf
Name: age, Length: 1309, dtype: float64

## 평균, 분산, 표준편차, 최대, 최소

In [30]:
df['fare'].mean()

np.float64(33.29547928134557)

In [31]:
df['fare'].var()

np.float64(2678.959737892891)

In [32]:
df['fare'].std()

np.float64(51.75866823917411)

In [33]:
df['age'].min()

np.float64(0.1667)

In [34]:
df['age'].max()

np.float64(80.0)

## agg

In [35]:
df['fare'].agg(['min', 'max','std'])

min      0.000000
max    512.329200
std     51.758668
Name: fare, dtype: float64

In [37]:
df[['age', 'fare']].agg(['min', 'max'])

         age      fare
min   0.1667    0.0000
max  80.0000  512.3292

## quantile - 분위, 오름차순 정리에서 = 하위 nn%에 해당

In [38]:
df['fare'].quantile(0.1)

np.float64(7.567500000000001)

In [39]:
df['fare'].quantile(0.8)

np.float64(41.5792)

## unique() - 고유값, nunique() - 고유값 개수

In [40]:
#numply array 형식으로 나옴
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [42]:
df['fare'].unique()

array([211.3375, 151.55  ,  26.55  ,  77.9583,   0.    ,  51.4792,
        49.5042, 227.525 ,  69.3   ,  78.85  ,  30.    ,  25.925 ,
       247.5208,  76.2917,  75.2417,  52.5542, 221.7792,  26.    ,
        91.0792, 135.6333,  35.5   ,  31.    , 164.8667, 262.375 ,
        55.    ,  30.5   ,  50.4958,  39.6   ,  27.7208, 134.5   ,
        26.2875,  27.4458, 512.3292,   5.    ,  47.1   , 120.    ,
        61.175 ,  53.1   ,  86.5   ,  29.7   , 136.7792,  52.    ,
        25.5875,  83.1583,  25.7   ,  71.    ,  71.2833,  57.    ,
        81.8583, 106.425 ,  56.9292,  78.2667,  31.6792,  31.6833,
       110.8833,  26.3875,  27.75  , 263.    , 133.65  ,  49.5   ,
        79.2   ,  38.5   , 211.5   ,  59.4   ,  89.1042,  34.6542,
        28.5   , 153.4625,  63.3583,  55.4417,  76.7292,  42.4   ,
        83.475 ,  93.5   ,  42.5   ,  51.8625,  50.    ,  57.9792,
        90.    ,  30.6958,  80.    ,  28.7125,  25.9292,  39.4   ,
        45.5   , 146.5208,  82.1708,  57.75  , 113.275 ,  26.2833,
       108.9   ,  25.7417,  61.9792,  66.6   ,  40.125 ,  55.9   ,
        60.    ,  82.2667,  32.3208,  79.65  ,  28.5375,  33.5   ,
        34.0208,  75.25  ,  77.2875,  61.3792,  35.    ,  24.    ,
        13.    ,  11.5   ,  10.5   ,  12.525 ,  39.    ,  29.    ,
        21.    ,  13.5   ,  26.25  ,  36.75  ,  73.5   ,  31.5   ,
        23.    ,  32.5   ,  13.8583,  14.5   ,  33.    ,  65.    ,
        16.    ,  12.275 ,  27.    ,  15.    ,  13.7917,  12.35  ,
        10.7083,  41.5792,  12.    ,  12.875 ,  15.0458,  37.0042,
        15.5792,  19.5   ,  14.    ,   9.6875,  30.0708,  13.8625,
        15.05  ,  12.7375,  15.0333,  18.75  ,  12.65  ,  15.75  ,
         7.55  ,  20.25  ,   7.65  ,   7.925 ,   7.2292,   7.25  ,
         8.05  ,   9.475 ,   9.35  ,  18.7875,   7.8875,   7.05  ,
         8.3   ,  22.525 ,   7.8542,  31.275 ,   7.775 ,   7.7958,
         7.8958,  17.8   ,  31.3875,   7.225 ,  14.4583,  15.85  ,
        19.2583,  14.4542,   7.8792,   4.0125,  56.4958,   7.75  ,
        15.2458,  15.5   ,  16.1   ,   7.725 ,   7.0458,   7.2833,
         7.8208,   6.75  ,   8.6625,   7.7333,   7.4958,   7.6292,
        15.9   ,   8.1583,  10.5167,  10.1708,   6.95  ,  14.4   ,
        24.15  ,  17.4   ,   9.5   ,  20.575 ,  12.475 ,  13.9   ,
         6.975 ,  15.1   ,  34.375 ,   7.7417,  20.525 ,   7.85  ,
        46.9   ,   8.3625,   9.8458,   8.85  ,  19.9667,  14.1083,
         6.8583,   8.9625,  12.2875,   6.45  ,   7.0542,   8.1125,
         6.4958,   8.6542,  11.1333,  23.45  ,   9.825 ,   7.125 ,
         8.4333,   7.5208,  13.4167,   7.8292,   7.7375,  22.025 ,
        12.1833,   9.5875,   9.4833,  25.4667,   6.4375,  15.55  ,
         7.5792,   7.1417,  23.25  ,   7.7875,   8.0292,   8.4583,
        15.7417,  11.2417,   7.8   ,   6.2375,   9.225 ,   3.1708,
         8.4042,   7.3125,   9.2167,   8.6833,  21.075 ,  39.6875,
         8.7125,  13.775 ,   7.    ,  22.3583,   8.1375,  29.125 ,
         7.7208,  20.2125,   7.7292,   7.575 ,  69.55  ,   9.325 ,
        21.6792,  16.7   ,   7.7792,  27.9   ,      nan,   9.8375,
        10.4625,   8.5167,   9.8417,   9.    ,  18.    ,   7.875 ])

In [41]:
df['sex'].nunique()

2

## mode() - 최빈값

In [45]:
df['sex'].mode()

0    male
Name: sex, dtype: object

## corr() - 상관관계

In [48]:
#str 섞여있어서 오류남
df.corr(numeric_only = True)

            pclass  survived       age     sibsp     parch      fare      body
pclass    1.000000 -0.312469 -0.408106  0.060832  0.018322 -0.558629 -0.034642
survived -0.312469  1.000000 -0.055513 -0.027825  0.082660  0.244265       NaN
age      -0.408106 -0.055513  1.000000 -0.243699 -0.150917  0.178739  0.058809
sibsp     0.060832 -0.027825 -0.243699  1.000000  0.373587  0.160238 -0.099961
parch     0.018322  0.082660 -0.150917  0.373587  1.000000  0.221539  0.051099
fare     -0.558629  0.244265  0.178739  0.160238  0.221539  1.000000 -0.043110
body     -0.034642       NaN  0.058809 -0.099961  0.051099 -0.043110  1.000000