In [ ]:
단원별 심화 연습 문제 - 여러 번 틀림
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import glob
​
# set floating point formatting
pd.options.display.float_format = '{:,.6f}'.format
Q3
범위

(이전 범위 포함)
결측치 채우기
import seaborn as sns
​
titanic = sns.load_dataset('titanic')
titanic.head()
survived	pclass	sex	age	sibsp	parch	fare	embarked	class	who	adult_male	deck	embark_town	alive	alone
0	0	3	male	22.000000	1	0	7.250000	S	Third	man	True	NaN	Southampton	no	False
1	1	1	female	38.000000	1	0	71.283300	C	First	woman	False	C	Cherbourg	yes	False
2	1	3	female	26.000000	0	0	7.925000	S	Third	woman	False	NaN	Southampton	yes	True
3	1	1	female	35.000000	1	0	53.100000	S	First	woman	False	C	Southampton	yes	False
4	0	3	male	35.000000	0	0	8.050000	S	Third	man	True	NaN	Southampton	no	True
각 컬럼별 결측치를 출력하세요

# 코드를 입력해 주세요
titanic.isnull().sum()
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
[출력 결과]

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
age 컬럼의 결측 데이터를 다음의 조건에 맞도록 채워 주세요

who가 man인 데이터는 결측치가 아닌 age 컬럼의 median으로 결측치를 채워주세요
who가 woman인 데이터는 결측치가 아닌 age 컬럼의 25% Quantile 값으로 결측치를 채워주세요
who가 child인 데이터는 결측치가 아닌 age 컬럼의 평균으로 결측치를 채워주세요
# 코드를 입력해 주세요
cond1 = (titanic['who']=='man')
titanic.loc[cond1, 'age'] = titanic.loc[cond1, 'age'].fillna(titanic.loc[cond1, 'age'].median())
​
cond2 = (titanic['who']=='woman')
titanic.loc[cond2, 'age'] = titanic.loc[cond2, 'age'].fillna(titanic.loc[cond2, 'age'].quantile(0.25))
​
cond3 = (titanic['who']=='child')
titanic.loc[cond3, 'age'] = titanic.loc[cond3, 'age'].fillna(titanic.loc[cond3, 'age'].mean())
titanic['age'].isnull().sum()
titanic['age'].isnull().sum()
0
# 검증코드
print(f"결측치: {titanic['age'].isnull().sum()}")
print(f"age mean: {titanic['age'].mean():.4f}")
결측치: 0
age mean: 29.3425
[출력 결과]

결측치: 0
age mean: 29.3425
제출
제출을 위해 새로 로드된 타이타닉 데이터셋에서 age 컬럼의 결측치를 다음 조건에 맞춰 채운 결과를 result_df에 저장하세요.

who가 man인 데이터는 결측치가 아닌 age 컬럼의 median으로 결측치를 채워주세요
who가 woman인 데이터는 결측치가 아닌 age 컬럼의 25% Quantile 값으로 결측치를 채워주세요
who가 child인 데이터는 결측치가 아닌 age 컬럼의 평균으로 결측치를 채워주세요
titanic = sns.load_dataset('titanic')
​
cond_man = (titanic['who'] == 'man')
stat = titanic.loc[cond_man, 'age'].median()
titanic.loc[cond_man, 'age'] = titanic.loc[cond_man, 'age'].fillna(stat)
​
cond_woman = (titanic['who'] == 'woman')
stat = titanic.loc[cond_woman, 'age'].quantile(0.25)
titanic.loc[cond_woman, 'age'] = titanic.loc[cond_woman, 'age'].fillna(stat)
​
cond_man = (titanic['who'] == 'man')
stat = titanic.loc[cond_man, 'age'].mean()
titanic.loc[cond_man, 'age'] = titanic.loc[cond_man, 'age'].fillna(stat)
​
result_df = titanic
채점 수행
아래 코드는 채점 수행을 위한 코드입니다.

따라서 이를 수정했을시 채점이 제대로 이루어지지 않습니다.

주의: 채점 코드를 실행하기 전에 반드시 코드 파일을 한번 저장하시길 바랍니다.

import os
​
result_df.to_json('result.json')
​
os.system('elice_grade result.json cds_ds_exercise.ipynb')
send files ['result.json', 'cds_ds_exercise.ipynb'] for grade...
waiting result...
waiting result...
waiting result...
done!

Score: 100.000000
Duration: 1.709 seconds
=== Message ===
제출 완료되었습니다.
0
​